<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KVMGCS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KVMGCS');</script>
<!-- End Google Tag Manager -->

<!-- Page Scroll Depth Tracking (feeds into Google Tag Manager) -->
<script>
jQuery(function() {
  jQuery.scrollDepth();
});
</script>
<!-- Page Scroll Depth Tracking -->

<script>
$( window ).load(function() {
  // Feature detects Navigation Timing API support.
  if (window.performance) {
    var perfData = window.performance.timing; 

    // From https://developer.mozilla.org/en-US/docs/Web/API/Navigation_timing_API
    // Calculate the total time required to load a page:
    var pageLoadTime = perfData.loadEventEnd - perfData.navigationStart;
    ga('send', 'timing', 'Client Timings', 'pageLoadTime', pageLoadTime);
    // Calculate request response times:
    var connectTime = perfData.responseEnd - perfData.requestStart;
    ga('send', 'timing', 'Client Timings', 'connectTime', connectTime);

    // From http://www.html5rocks.com/en/tutorials/webperformance/basics/
    var networkLatencyTime = perfData.responseEnd - perfData.fetchStart;
    ga('send', 'timing', 'Client Timings', 'networkLatencyTime', networkLatencyTime);
    // The time taken for page load once the page is received from the server: 
    var wholePageLoadTime = perfData.loadEventEnd - perfData.responseEnd;
    ga('send', 'timing', 'Client Timings', 'wholePageLoadTime', wholePageLoadTime);
    //The whole process of navigation and page load: loadEventEnd-navigationStart.
    var navigationTime = perfData.loadEventEnd - perfData.navigationStart;
    ga('send', 'timing', 'Client Timings', 'navigationTime', navigationTime);
  }
});
</script>