/*************************/
/* Styles for Sparklines */
/*************************/

.rChart {
  display: block;
  margin-left: auto; 
  margin-right: auto;
  width: 750px;
  height: 1350px; /* 1050px; 980px; */
}

.rChartHeader {
  font: normal 12px Arial;
  font-weight: bold;
  font-size: 1.0em;
  display: block;
  margin-left: auto; 
  margin-right: auto;
  width: 750px;
  /*height: 980px;*/
}

.rChartHeader .alignleft {
  float: left;
  padding-left: 30px;
}
.rChartHeader .alignright {
  float: right;
}

/* Override or Add new styles to NVD3 elements, as necessary */
/* .nvd3.nv-sparklineplus .nv-currentValue */
.nvd3.nv-sparklineplus  text.displayValue {
  font-weight: bold;
  font-size: 0.9em;
}

.nv-sparklineplus text.projectName {
  font-weight: bold;
  font-size: 1.1em;
  fill: #ac4142;
}

/* UGH, we need this for IE (11), otherwise it sizes the svg items with height=150px (due to height:100% in CSS???) */
.rChart.nvd3 svg {
  height: 70px;
}

/* CSS Buttons from http://callmenick.com/post/stylish-css-buttons */
button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 5px 15px;
  font-size: 20px;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}

button:focus {
  outline: none
}

section.gradient button {
  color: #fff;
  background-color: #90A4AE;
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 15px;
}

section.gradient button:hover,
section.gradient button.hover {
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}

section.gradient button:active,
section.gradient button.active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}

section.press button {
  color: #fff;
  background-color: #6496c8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #27496d;
}

section.press button:hover,
section.press button.hover {
  background-color: #417cb8
}

section.press button:active,
section.press button.active {
  background-color: #417cb8;
  box-shadow: 0 5px #27496d;
  transform: translateY(5px);
}

/********************************************/
/* Styles for Normalized Stacked Bar Charts */
/********************************************/

.g-hed {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size:20px; 
  margin: 3px 0;
}

.g-source-bold {
  text-align: left;
  font-size:11px;
  font-weight: bold;
  color: #333333; 
}

.g-source {
  margin-bottom: 2px;
  font-size:11px;
  color: #999999;
}

.g-intro {
  font-size: 18px;
  margin: 0px 0px 10px 0px;
  color: #333333;
}

.g-num-issues {
  /*fill: #c12726;*/
  fill: #9ecae1; /* Microsoft Issues */
}
  
.g-num-pull-requests {
  fill: #a1d99b; /* Microsoft PR's */
}

.g-num2-issues {
  /*fill: #e0e0e0;*/
  fill: #3182bd; /* Community Issues */
}

.g-num2-pull-requests {
  fill: #31a354; /* Community PR's */
}

.g-labels {
  font-family: "Proxima-Nova",Arial,Helvetica,sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.x.axis line, .y.axis line {
  display: none;
}

.x.axis text {
  display: none;
}

.domain {
  display: none;
}

.y.axis text {
  font-family: 'Proxima-Nova', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-anchor: end !important;
  fill: #c12726;
}

.g-chart {
  border-bottom: 1px solid #c3cddf;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 70px;
    height: 58px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgb(197, 188, 188);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/********************************************/
/* Styles for Stacked-to-Grouped Bar Charts */
/********************************************/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

div.tooltipOverall {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 60px;
    padding: 6px;
    font: 13px sans-serif;
    /*background: lightsteelblue;*/
    background: rgb(197, 188, 188);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.xaxis text {
  font: normal 9px Arial;
}