---
layout: default
---

{% comment %} do not remove this assign statement, bad things happen!! {% endcomment %}
{% assign post = page %}

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }} - {{ page.content | number_of_words }} words</span>
  {{ content }}
</div>

<div class="share">
  <strong>Tags:</strong>
  {% for page_tag in page.tags %}
  <a href="{{ base }}/tags/#{{ page_tag | replace:' ','-' }}">{{ page_tag }}</a>, 
  {% endfor %}
</div>

<div class="share">
  Share this article:
  <a target="_blank" title="Share on Twitter" href="https://twitter.com/intent/tweet?url={{site.url}}{{post.url}}&amp;text={{post.title | uri_escape}}&amp;via={{site.author.twitter}}"><img src="{{ base }}/images/social/Twitter.svg" height=27 width=27></a>&nbsp;
  <a target="_blank" title="Submit to Reddit" href="http://www.reddit.com/submit?url={{site.url}}{{post.url}}&amp;title={{post.title | uri_escape}}"><img src="{{ base }}/images/social/Reddit.svg" height=27 width=27></a>&nbsp;
  <a target="_blank" title="Submit to Hacker News" href="https://news.ycombinator.com/submitlink?u={{site.url}}{{post.url}}&amp;t={{post.title | uri_escape}}"><img src="{{ base }}/images/social/HackerNews.svg" height=27 width=27></a>&nbsp;
  <a target="_blank" title="Share on Facebook" href="https://facebook.com/sharer.php?u={{site.url}}{{post.url}}&amp;t={{post.title | uri_escape}}"><img src="{{ base }}/images/social/Facebook.svg" height=27 width=27></a>&nbsp;
  <a target="_blank" title="Share on LinkedIn" href="http://www.linkedin.com/shareArticle?mini=true&amp;{{site.url}}{{post.url}}&amp;title={{post.title | uri_escape}}"><img src="{{ base }}/images/social/LinkedIn.svg" height=27 width=27></a>&nbsp;
</div>

<hr>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//mattwarren.us16.list-manage.com/subscribe/post?u=c3815db05ef6880b0f64df616&amp;id=1f4b3c72df" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Want to be notified when I write a new blog post?</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c3815db05ef6880b0f64df616_1f4b3c72df" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->

<hr>

{% include comments.html %}

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
