---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }} - {{ page.content | number_of_words }} words</span>
  {{ content }}
</div>

<div class="share">
  Share this article:
  <a target="_blank" title="Share on Twitter" href="https://twitter.com/intent/tweet?url={{site.url}}{{post.url}}&amp;text={{post.title | uri_escape}}&amp;via={{site.author.twitter}}"><img src="{{site.url}}/images/social/Twitter.svg" height=27 width=27></a>&nbsp;
  <a target="_blank" title="Submit to Reddit" href="http://www.reddit.com/submit?url={{site.url}}{{post.url}}&amp;title={{post.title | uri_escape}}"><img src="{{site.url}}//images/social/Reddit.svg" height=27 width=27></a>&nbsp;
  <a target="_blank" title="Submit to Hacker News" href="https://news.ycombinator.com/submitlink?u={{site.url}}{{post.url}}&amp;t={{post.title | uri_escape}}"><img src="{{site.url}}/images/social/HackerNews.svg" height=27 width=27></a>&nbsp;
  <a target="_blank" title="Share on Facebook" href="https://facebook.com/sharer.php?u={{site.url}}{{post.url}}&amp;t={{post.title | uri_escape}}"><img src="{{site.url}}/images/social/Facebook.svg" height=27 width=27></a>&nbsp;
  <a target="_blank" title="Share on LinkedIn" href="http://www.linkedin.com/shareArticle?mini=true&amp;{{site.url}}{{post.url}}&amp;title={{post.title | uri_escape}}"><img src="{{site.url}}/images/social/LinkedIn.svg" height=27 width=27></a>&nbsp;
</div>

{% include comments.html %}

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
